.business-row {
  height: 15vh;
  box-sizing: border-box;
  padding: 2vh 3vw;
  display: flex;
  direction: row;
  align-items: center;
}

.business-image {
  height: 10vh;
  object-fit: fill;
  margin-right: 10px;
}

.business-info {
  display: flex;
  flex-direction: column;
}

.business-info h3 {
  font-size: 1rem;
  color: var(--blue-custom-color);
  margin-bottom: 5px;
}

.business-info small {
  font-size: 0.8rem;
  color: var(--gray-custom-color);
}

hr {
  background-color: var(--gray-custom-color);
  color: var(--gray-custom-color);
  border: 0 none;
  height: 1px;
}
