.card-image {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

.category-title {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: var(--custom-blue);
}

.category-url {
  text-decoration: none;
}

.category-container {
  padding: 10px;
  margin: 2vh 2vw;
  box-sizing: border-box;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 11, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category-container h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .category-container{
    width: 25vw;
    height: 25vw;
  }

  .card-image {
    width: 85%;
    height: 85%;
  }
}