.form-content {
  display: flex;
  flex-direction: row;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--custom-yellow);
  font: bold 12px Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 30px;
  height: 373px;
  width: 100px;
  right: 53%;
  border-radius: 6px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.right-side .left {
  right: 20%;
  align-items: flex-start;
}

.right-side h2 {
  font-size: 12px;
  transform: rotate(-90deg);
}

.right-side .text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  transform: rotate(90deg);
  margin-right: 0em;
  margin-left: 0em;
}

.right-side:hover {
  right: 50%;
}

.right-side .right {
  right: -20%;
  align-items: flex-end;
}

.right-side:hover {
  /* right: -45%; */
}


/* Button */
.btn {
  /* font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: var(--custom-blue);
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer; */
  
}

.btn:hover {
  /* background-color: #aa9e93; */
}

.btn:focus {
  /* outline: none; */
}

