.business-detail-image {
  height: 20vh;
  width: 100vw;
  object-fit: cover;
}

.business-address {
  display: flex;
  justify-content: flex-end;
  color: var(--custom-gray);
  margin-right: 10px;
}

.business-menu {
  margin: 15px 20px;
}

.centered-title {
  text-align: center;
}

.menu-section-container {
  margin: 10px;
}

.menu-section-container h3 {
  color: var(--custom-red);
  font-size: 1.2rem;
  margin: 5px;
}

.menu-item {
  display: flex;
}

.center-horizontally {
  margin: 0 auto;
}
