.order-container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-container h4 {
  margin: 0;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.badge-gray-background {
  background: darkgray;
}

.badge-yellow-background {
  background: var(--custom-yellow);
}

.order-details {
  display: flex;
  justify-content: space-between;
}

.order-details h6 {
  margin: 0;
}

.order-item-info {
  font-size: 0.8rem;
  color: var(--custom-gray);
}
