.style {
  padding :40px;
  height:500px;
  width:500px;
  margin:50px auto; 
  right: 20px;
  border: 1px solid;
  margin-left: 500px;
  
}


@media (max-width: 870px) {

  .style {
    padding :40px;
    height:500px;
    width:500px;
    margin:50px auto; 

    border: none;
    
  
  }



}
