.logo-home-page {
  margin: 20px 0;
  width: 80vw;
  height: auto;
  display: fle;
  justify-content: center;
}

.home-description {
  background-color: var(--custom-blue);
  height: 90vh;
}

.home-description h1 {
  color: #fff;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}

.home-description p {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
}

.categories-explorer {
  display: flex;
  justify-content: center;
}

.testimonial-title {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.carousel-title {
  font-weight: bold;
  color: #fff;
}

.blue-layer {
  width: 100%;
  height: 100%;
  background-color: var(--custom-blue);
  opacity: 0.5;
}

.reviews-container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../utils/images/home-background.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 30px 0;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-outer-container {
  margin: 10px auto;
}

.carousel {
  margin-bottom: 20px;
  position: absolute;
  height: 100vh;
}

.carousel-inner,
.image-container.carousel-item {
  height: 95vh;
  width: 100%;
}

.index-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-btn-container button {
  width: 130px;
}

.carousel-caption {
  bottom: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.carousel-caption span {
  margin-bottom: 15px;
}

.carousel-caption button {
  display: inline;
  margin: 0 5px;
}

.carousel-btn-container {
  display: block;
}

@media only screen and (min-width: 768px) {
.testimonials-outer-container {
  display: flex;
  flex-wrap: wrap;
}
}