.logo-home-page {
  margin: 20px 0;
  width: 80vw;
  height: auto;
  display: fle;
  justify-content: center;
}

.home-description {
  flex-basis: 50%;
  background-color: var(--custom-blue);
}

.home-description h1 {
  color: #fff;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}

.home-description p {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
}

.categories-explorer {
  display: flex;
  justify-content: center;
}

.testimonial-title {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.carousel-title {
  font-weight: bold;
  color: #fff;
}

.blue-layer {
  width: 100%;
  height: 100%;
  background-color: var(--custom-blue);
  opacity: 0.5;
}

.reviews-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../utils/images/home-background.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 20px 0;
}
