nav,
.dropdown-menu.show {
  background-color: var(--custom-blue);
}

.me-auto {
  margin-left: auto;
}

.logo-img {
  margin-left: 10px;
  height: 4vh;
}

.checkout-icon-container {
  display: flex;
}

.checkout-icon-container {
  position: relative;
}

.checkout-badge {
  position: absolute;
  bottom: -10px;
  right: -15px;
  background-color: red;
  border-radius: 50%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-tracker {
  padding: 0;
}
