nav,
.dropdown-menu.show {
  background-color: var(--custom-blue);
}

.me-auto {
  margin-left: auto;
}

.logo-img {
  margin-left: 10px;
  height: 4vh;
}

.checkout-icon-container {
  display: flex;
}

.checkout-icon-container {
  position: relative;
}

.checkout-badge {
  position: absolute;
  bottom: -10px;
  right: -15px;
  background-color: red;
  border-radius: 50%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-tracker {
  padding: 0;
}

.navbar-toggler,
.nav-link,
#nav-logout-btn {
  margin-right: 10px;
}

.nav-auth-btn-group {
  margin: 15px 30%;
}

.nav-auth-btn-group span {
  margin: 5px 0;
  display: block;
  text-align: center;
  color: white;
}

.nav-auth-btn-group a {
  display: block;
  font-weight: bold;
  border-radius: 10px;
}

#nav-login-btn {
  background-color: #384166;
}

#nav-signup-btn {
  color: var(--custom-blue)
}

#nav-logout-btn{
  width: 100px;
  margin-left: auto;
}