.category-list-container {
  margin: 1vh 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: blue;
  margin: 5px 15px;
}

.section-subtitle {
  font-style: italic;
  color: gray;
  margin: 0 15px;
}
