.checkout-prod-img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.product-name {
  margin: 0;
  text-align: left;
}

.checkout-first-row-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkout-second-row-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-info-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.remove-item-anchor {
  display: flex;
  justify-content: flex-end;
  color: var(--custom-gray);
}
